In [2]:
import pandas as pd
df = pd.read_json("funda-amsterdam.json")

In [3]:
df.head()

,address,area,bedrooms,city,postal_code,posting_date,price,property_type,rooms,sale_date,url,year_built
0,Eastonstraat 63,NaN,NaN,NaN,1068 JB,10-5-2016,NaN,apartment,NaN,6-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,NaN
1,Werkendamstraat 47,NaN,NaN,NaN,1107 KK,3-3-2014,NaN,apartment,NaN,1-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,NaN
2,Westerlengte 171,NaN,NaN,NaN,1034 TC,15-3-2016,NaN,apartment,NaN,7-4-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,NaN
3,Laplacestraat 37 -hs,NaN,NaN,NaN,1098 HR,13-5-2016,NaN,apartment,NaN,23-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,NaN
4,Oostenburgergracht 8,NaN,NaN,NaN,1018 NA,16-6-2016,NaN,house,NaN,15-7-2016,http://www.funda.nl/koop/verkocht/amsterdam/hu...,NaN

In [13]:
len(df)

29077

In [15]:
df.drop_duplicates(subset = "url", inplace = True)

In [26]:
df.to_csv("funda-amsterdam.csv")

In [34]:
df[df["price"].isna()]

AttributeError: 'Series' object has no attribute 'isnotna'