## Import librar

In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import math

## Reading data and summarizing

In [15]:
df = pd.read_csv("bol_sales.csv")
df.describe() #get some summary statistics
df['gender'].value_counts() #get a simple table of this variable
df.head() #get the first rows

,id,gender,income,distance_center,website_visits,pages_viewed,time_social_media,spent_bol
0,person_1,female,7065,4.6,30,105,117,1232
1,person_2,female,23028,9.8,23,81,70,1396
2,person_3,female,103377,9.2,11,38,94,1240
3,person_4,female,9815,3.2,16,54,124,720
4,person_5,female,22646,10.1,21,78,119,1379

## Data cleaning and pre-processing