## Pivot table

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In this Notebook, you will learn how to use the 'pivot_table()' function from Pandas. With a pivot table, you can make a user-item matrix, though you will have to figure out how yourself.

A pivot table is a summary of a dataframe by aggregating the data and taking the sum or the mean of several items. Let's first create the data:

In [17]:
df = pd.DataFrame({"location": ["North", "North", "North", "South", "South",
                         "South"],                
                   "gender": ["Female", "Male", "Female", "Male", "Female",
                         "Female"],
                   "score": [1, 1, 2, 2, 3, 3]})
df

   gender location  score
0  Female    North      1
1    Male    North      1
2  Female    North      2
3    Male    South      2
4  Female    South      3
5  Female    South      3

Now, let's look at some pivot tables:

In [18]:
pd.pivot_table(data=df, columns='gender', values='score') #A table with the mean score by gender

gender  Female  Male
score     2.25   1.5

In [19]:
pd.pivot_table(data=df, index='location', columns='gender', values='score') #Mean score by gender x location

gender    Female  Male
location
North        1.5   1.0
South        3.0   2.0

In [20]:
pd.pivot_table(data=df, index='location', columns='gender', values='score', aggfunc='sum') #Same, but with the sum

gender    Female  Male
location
North          3     1
South          6     2